#parent{
    width: 100%;
    display: flex;
}
.fa-solid{
    padding-left: 25px;
    color: #999999;
}
.location{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}
.box{
    width: auto;
    height: auto;
    margin: 0 0 0 3px;
    padding: 4px 30px 4px 18px;
    font-size: 12px;
    line-height: 24px;
    font-family: sans-serif;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
    background: 0% 0%;
}
.hire{
    height: 34px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    color: #EF524E;
    height: 34px;
    width: 90px;
    padding: 8px 12px 8px 12px;
    padding-left: 480px;
    margin-left: 125px;
}
.black{
    height: 34px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
    height: 34px;
    width: 90px;
    padding: 8px 12px 8px 12px;
}
#parent{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    background-color: #ffffff;
    height: 37px;
    width: 100%;
    padding: 0 0px 0 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
}
#searchbar{
    margin-top: 7.5px;
    height: 15px;
    margin-left: 35px;
}
#img {
    margin: 1 em 0;
    background-color: #ffffff;
}
#img input{
    background-color: transparent;
    width: 40%;
    border-bottom: 1 px solid gray;
    padding: 1em 0.3em;
    margin-left: 450px;
    border-radius: 2px;
}
#img input:focus{
    border-bottom-color: #d3d2dc;
}
#img button{
    padding: 1em 2em;
    background-color: #EF524E;
    height: 45px;
    margin-left: 5px;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    margin-top: 7.5px;
    cursor: pointer;
}
#img img {
    width: 160px;
    padding-left: 27px;
    height: 70px;
}



body {
    background-color: #e1e9ec;
}
#maincontainer {
    display: flex;
    background-color: #f6f6f6;
    margin-top: 10px;
    padding: 10px 0 0 10px;
}
#left {
    width: 65%;
    background-color: #ffffff;
}
#left > div {
    margin-top: 20px;
    margin-bottom: 10px;
}
#right {
    width: 35%;
    padding: 18px 18px 18px 18px;
}
#right > div {
    background-color: #ffffff;
    padding: 0px 28px 28px 28px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}
#leftupbottom {
    display: flex;
}
#winrs500 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: top;
    word-spacing: 0;
    background-color: #ffffff;
    color: #333333;
}
#validon {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0;
    background-color: #ffffff;
    color: #666666;
}
#nblucky {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.5px;
    text-decoration: none solid rgb(91, 164, 218);
    white-space: nowrap;
    word-spacing: 0;
    background-color: #ffffff;
    color: #5ba4da;
    height: 30px;
    width: 80px;
    padding: 7px 12px 7px 12px;
    border: 1px dashed #bdbdbd;
    float: left;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#copybtn {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0;
    background-color: #e1e9ec;
    color: #666666;
    height: 30px;
    width: 56px;
    padding: 7px 12px 7px 12px;
    border-top: 1px solid #bdbdbd;
    border-right: 1px dashed #bdbdbd;
    border-bottom: 1px dashed #bdbdbd;
    border-left: none;
    display: inline-block;
    cursor: pointer;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#validtill {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: left;
    white-space: nowrap;
    word-spacing: 0;
    background-color: #ffffff;
    color: #666666;
    height: 18px;
    width: 140px;
    display: block;
    box-sizing: border-box;
}
#knowbtn {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(239, 83, 78);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0;
    background-color: #ffffff;
    color: #ef534e;
    height: 18px;
    width: 66px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 135px;
    border: none;
}
.div1, .div2, .div3, .div4 {
    display: flex;
}
.div1 > div:nth-child(1), .div2 > div:nth-child(1), .div3 > div:nth-child(1), .div4 > div:nth-child(1) {
    width: 90%;
}
.boughtdiv {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    color: #666666;
    height: 18px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.boughtspan {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: none solid rgb(153, 153, 153);
    word-spacing: 0px;
    color: #999999;
    display: inline;
    margin: 0 18px 0 0;
}
.offdiv {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: right;
    word-spacing: 0px;
    color: #666666;
    height: 18px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.offbtn {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-decoration: none solid rgb(52, 168, 83);
    text-align: center;
    vertical-align: top;
    word-spacing: 0px;
    background-color: #f6fff7;
    color: #34a853;
    height: 18px;
    width: 65px;
    border: 1px solid #34a853;
    padding: 3px 6px 3px 6px;
    display: inline-block;
}
.namediv {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 60px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.name {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none solid rgb(51, 51, 51);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #333333;
    height: 25px;
    display: block;
}
.fixspan {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none solid rgb(52, 168, 83);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #34a853;
    height: auto;
    width: auto;
    display: inline;
}
.pricediv {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 45px;
    width: 275px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.mrpprice {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 27px;
    width: 250px;
    display: block;
}
.mrp {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none solid rgb(153, 153, 153);
    text-decoration: line-through;
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #999999;
    height: auto;
    width: auto;
    display: inline;
}
.price {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #333333;
    height: auto;
    width: auto;
    margin: 0 0 0 6px;
    display: inline;
}
.taxes {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none solid rgb(153, 153, 153);
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #999999;
    height: auto;
    width: auto;
    display: inline;
}
.div4left {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 32px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.menubtn {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(53, 167, 225);
    text-align: center;
    word-spacing: 0px;
    background-color: #f6fff7;
    color: #35a7ff;
    height: 32px;
    width: auto;
    border: 1px solid #35a7ff;
    padding: 6px 6px 6px 6px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    border-radius: 2px;
}
.detailsbtn {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(53, 167, 225);
    text-align: center;
    word-spacing: 0px;
    background-color: #f6fff7;
    color: #35a7ff;
    height: 32px;
    width: auto;
    border: 1px solid #35a7ff;
    padding: 6px 6px 6px 6px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    border-radius: 2px;
}
.div4right {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: right;
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 39px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
.addbtn {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;
    background-color: #ef534e;
    color: #ffffff;
    height: 36px;
    width: 110px;
    padding: 0px 14px 0px 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
#orderdiv {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: center;
    word-spacing: 0px;
    background-color: #e0e0e0;
    color: #666666;
    height: 25px;
    padding: 18px 18px 18px 18px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#orderp {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    word-spacing: 0px;
    background-color: #e0e0e0;
    color: #333333;
    height: 18px;
    margin-top: 8px;
    display: block;
}
#fortotal {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 38px;
    margin: 0 12px 0 12px;
    display: flex;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#totalleft {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 38px;
    width: 200px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
#totalleftp {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 18px;
    display: block;
}
#totalleftspan {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: auto;
    width: auto;
    display: inline;
}
#totalright {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none solid rgb(102, 102, 102);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #666666;
    height: 24px;
    padding: 0 12px 0 12px;
    min-height: 1px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: left;
    display: block;
}
#bill {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none solid rgb(51, 51, 51);
    word-spacing: 0px;
    background-color: #ffffff;
    color: #333333;
    height: 24px;
    margin-left: 25px;
    display: block;
}
#buy {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    /* text-decoration: none solid rgb(255, 255, 255); */
    text-decoration: none;
    text-align: center;
    word-spacing: 0;
    background-color: #ef534e;
    color: #ffffff;
    height: 45px;
    width: 340px;
    border: 1px solid #ffffff;
    padding: 12px 30px 12px 30px;
    display: block;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 5px;
}
#buy:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
a {
    text-decoration: none;
}
tr {
    height: 25px;
}
tr > td:nth-child(1) {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: nowrap;
    word-spacing: 0;
    background-color: #ffffff;
    color: #333333;
    height: 18px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
}
tr > td:nth-child(2) {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: right;
    word-spacing: 0;
    background-color: #ffffff;
    color: #333333;
    height: 18px;
    width: 70px;
    display: inline;
    margin-left: 65px;
    margin-right: 65px;
}
tr > td:nth-child(3) {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: right;
    word-spacing: 0;
    background-color: #ffffff;
    color: #666666;
    height: 18px;
    width: 70px;
    display: inline;
}
table {
    margin-top: 20px;
}